.homepageCol {
    height: 45vh;
}

.boxesTrainer {
    height: 70px;
    overflow: auto;
    width: 100%;
}

.boxesGroup {
    height: 10%;
    overflow: auto;
    width: 100%;
}

.colAdmin{
    width: 20%;
}
